.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 74px;
}

.title {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--black);
  text-align: center;
  font-size: 38px;
  line-height: 1.09;
  margin-bottom: 16px;
  width: 85%;
  & span {
    color: var(--green);
  }
}

.text {
  text-align: center;
  color: rgba(1, 1, 1, 0.8);
  max-width: 292px;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 32px;
}

.box {
  border-radius: 30px;
  background-image: image-set(url('../../img/hero/hero-mobile.jpg') 1x, url('../../img/hero/hero-mobile@2x.jpg') 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 480px;
  width: 100%;
  position: relative;
}

.mark {
  position: absolute;
  right: 8px;
  top: -7px;
}

@media screen and (min-width: 375px) {
  .title {
    font-size: 44px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 80px;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .text {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 40px;
    max-width: 492px;
  }

  .box {
    background-image: image-set(url('../../img/hero/hero-tab.jpg') 1x, url('../../img/hero/hero-tab@2x.jpg') 2x);
    min-height: 580px;
    border-radius: 60px;
  }
  .mark {
    position: absolute;
    right: 10px;
    top: -30px;
  }
}

@media screen and (min-width: 1440px) {
  .box {
    background-image: image-set(
      url('../../img/hero/hero-desktop.jpg') 1x,
      url('../../img/hero/hero-desktop@2x.jpg') 2x
    );
    min-height: 350px;
  }
  .mark {
    position: absolute;
    right: 20px;
    top: -50px;
  }
}

/* Hero.module.css з використанням @container  */

/* .container {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 74px;
} */

/* --- TEXT --- */

/* .title {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--black);
  text-align: center;

  font-size: 44px;
  line-height: 1.1;
  margin-bottom: 16px;
}
.titleColor {
  color: var(--green);
}
.text {
  text-align: center;
  max-width: 40ch;
  margin-bottom: 32px;

  font-size: 14px;
} */

/* --- IMAGE --- */

/* .img {
  width: 100%;
  border-radius: 30px;
  aspect-ratio: 335 / 480; 
  object-fit: cover;
} */

/* --- CONTAINER BREAKPOINTS --- */

/* @container (min-width: 700px) {
  .title {
    font-size: 80px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .img {
    border-radius: 60px;
    aspect-ratio: 704 / 580;
  }
}

@container (min-width: 1200px) {
  .img {
    aspect-ratio: 1240 / 350;
  }
}  */
