.logo {
  font-family:
    Quincy CF,
    sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: var(--black);
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: var(--green);
  border-radius: 50%;
  fill: var(--grey);
  & svg {
    width: 16px;
    height: 16px;
  }
}

.footer {
  color: var(--grey);
  & .icon {
    fill: var(--green);
    background: var(--grey);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 100%;
  }
  .icon {
    width: 32px;
    height: 32px;
    & svg {
      width: 20px;
      height: 20px;
    }
  }
}
