.empty {
  /* display: flex; */
}

.cartIcon {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-bottom: 100px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 38px;
  height: 38px;
  background: var(--green);
  fill: var(--grey);
  & svg {
    width: 18px;
    height: 18px;
  }
}

.counter {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--black);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 120px;
}

.img {
  margin-bottom: 28px;
  max-width: 132px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 14px;
  text-align: center;
}

.title span {
  color: var(--green);
}

.text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: rgba(1, 1, 1, 0.7);
  max-width: 279px;
}

@media screen and (min-width: 768px) {
  .cartIcon {
    padding-bottom: 130px;
  }
  .icon {
    width: 42px;
    height: 42px;
  }
  .counter {
    font-size: 32px;
    line-height: 1;
  }
  .title {
    font-size: 20px;
    line-height: 1.2;
  }
  .text {
    font-size: 18px;
    line-height: 1.33;
    max-width: 387px;
  }
  .img {
    max-width: 164px;
    height: 140px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .cartIcon {
    padding-bottom: 150px;
  }
  .img {
    width: 1240px;
  }
  .description {
    padding-bottom: 150px;
  }
}
