.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: var(--grey);
  padding: 40px 20px;
  border: none;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
  border-radius: 20px;
  /* max-height: 720px; */
  width: 290px;
  /* max-width: 335px; */
  overflow: hidden;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.4);
  border: none;
  z-index: 999;
}

.closeBtn {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 14px;
  right: 14px;
}

.closeIcon {
  width: 12px;
  height: 12px;
  fill: var(--black);
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newSubscriber {
  padding: 80px 20px 140px 20px;
  background-image: url(../../img/footer/subscription.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.existSubscriber {
  padding: 70px 20px 70px 20px;
}

.productCard {
  background: var(--white);
}

@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
  }
  .newSubscriber {
    padding: 100px 43px 166px 44px;
  }
  .existSubscriber {
    padding: 80px 43px 80px 44px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 490px;
  }
  .modal.productCard {
    width: 600px;
  }
  .productCard .cont {
    align-items: stretch;
  }
  .newSubscriber {
    padding: 90px 81px 162px 81px;
    background-image: url(../../img/footer/subscription-tab.png);
  }
  .existSubscriber {
    padding: 100px 60px;
  }
  .productCard {
    padding: 40px;
  }
}
