.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 72px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn {
  font-weight: 500;
  background: var(--green);
  cursor: pointer;
  color: var(--grey);
  border-radius: 30px;
  font-size: 14px;
  line-height: 129%;
  padding: 8px 16px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 34px;
  height: 34px;
  background: var(--green);
  fill: var(--grey);
  & svg {
    width: 14px;
    height: 14px;
  }
}

.counter {
  display: none;
}

@media screen and (min-width: 375px) {
  .btn {
    padding: 10px 20px;
  }
  .icon {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 116px;
  }
  .menu {
    gap: 16px;
  }
  .icon svg {
    width: 18px;
    height: 18px;
  }
  .btn {
    font-size: 18px;
    line-height: 133%;
    padding: 12px 28px;
  }
  .cart {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  .counter {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: var(--black);
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 32px;
    padding-bottom: 77px;
  }
  .menu {
    gap: 24px;
  }
}
