.footer {
  background-color: var(--green);
  padding: 40px 0 20px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.content {
  display: flex;
  gap: 148px;
  justify-content: space-between;
  margin-bottom: 128px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.descTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--grey);
}
.desctext {
  font-size: 18px;
  line-height: 133%;
  color: rgba(232, 232, 226, 0.7);
}

.socket {
  display: flex;
  justify-content: space-between;
}

.socket p {
  font-size: 14px;
  line-height: 129%;
  color: var(--grey);
  opacity: 0.9;
}
