.products {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .products {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 60px;
    gap: 40px;
  }
  .aside {
    flex-basis: 275px;
  }
}
